.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

[aria-expanded][class=accordion-toggle] {
    cursor: pointer;
}

[aria-expanded=true] .fa-chevron-right {
    display: none;
}

[aria-expanded=false] .fa-chevron-down {
    display: none;
}

#searchinput {
    width: 200px;
}

#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}